<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body class="bg-success text-white d-flex justify-content-center align-items-center vh-100">

<div class="bg-dark p-5 rounded shadow" style="max-width: 500px; width: 100%;">
    <form th:action="@{/updateUser/new}" method="post" class="bg-dark text-white p-4 rounded">
        <h1 class="text-center mb-4">UPDATE USER</h1>
        <div class="form-group">
            <label for="email">Enter an email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="surname">Surname:</label>
            <input type="text" id="surname" name="surname" class="form-control" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" onclick="updateBtn()">UPDATE USER</button>
        </div>
        <div class="text-center mt-3">
            <a class="h5 text-white" th:href="@{/admin_menu/back}">Previous page.</a>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function updateBtn() {
        window.location = "/admin_menu";
    }
</script>

</body>
</html>
